DIRECT_URL=postgresql://service_dashboard_owner:1HiylZYxwt7G@ep-broad-flower-a19fri52-pooler.ap-southeast-1.aws.neon.tech/service_dashboard?sslmode=require
DATABASE_URL=postgresql://service_dashboard_owner:1HiylZYxwt7G@ep-broad-flower-a19fri52.ap-southeast-1.aws.neon.tech/service_dashboard?sslmode=require
REQUIRED_SECURITY_KEY=test
SECURITY_HEADER_NAME=test-header